apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: osac

metadata:
  name: osac-base

resources:
  - osac-aap/config/base
  - osac-operator/config/default
  - osac-fulfillment-service/manifests/overlays/openshift
  - hub-access

# Common labels for all OSAC components
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: osac

images:
- name: gomplate
  newName: docker.io/gomplate/gomplate
  newTag: latest
- name: postgres
  newName: quay.io/sclorg/postgresql-15-c9s
  newTag: latest
- name: fulfillment-service
  newName: ghcr.io/osac-project/fulfillment-service
  newTag: latest
- name: osac-aap
  newName: ghcr.io/osac-project/osac-aap
  newTag: latest
- name: osac-operator
  newName: ghcr.io/osac-project/osac-operator
  newTag: latest
- name: envoy
  newName: docker.io/envoyproxy/envoy
  newTag: v1.33.0
- name: openshift-cli
  newName: image-registry.openshift-image-registry.svc:5000/openshift/cli
  newTag: latest

patches:
- target:
    kind: Namespace
    labelSelector: "control-plane=controller-manager"
  patch: |-
    apiVersion: v1
    kind: Namespace
    metadata:
      name: not-used
    $patch: delete

configurations:
- nameReference.yaml
