apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: osac

resources:
  - ../../base
  - externalsecrets

patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: osac-operator-controller-manager
        namespace: osac-operator-system
      spec:
        template:
          spec:
            containers:
            - name: manager
              env:
              - name: OSAC_CLUSTER_CREATE_WEBHOOK
                value: http://osac-eda-service:5000/create-hosted-cluster
              - name: OSAC_CLUSTER_DELETE_WEBHOOK
                value: http://osac-eda-service:5000/delete-hosted-cluster
              - name: OSAC_VM_CREATE_WEBHOOK
                value: http://osac-eda-service:5000/create-vm
              - name: OSAC_VM_DELETE_WEBHOOK
                value: http://osac-eda-service:5000/delete-vm
              - name: OSAC_MINIMUM_REQUEST_INTERVAL
                value: "2m"
              - name: OSAC_FULFILLMENT_SERVER_ADDRESS
                value: fulfillment-api:8000

secretGenerator:
  - name: config-as-code-ig
    options:
      disableNameSuffixHash: true
    literals:
      - AAP_EE_IMAGE=ghcr.io/osac-project/osac-aap:latest

configMapGenerator:
  - name: publish-templates-ig
    options:
      disableNameSuffixHash: true
    literals:
      - OSAC_TEMPLATE_COLLECTIONS=osac.templates,isaiahstapleton.ai_cluster_ansible

images:
  - name: ghcr.io/osac-project/osac-operator
    digest: sha256:9b271b405219e6be4c61259b8ebfcb3b41a7fa58ecccd6ada93c10d046f510a8
  - name: ghcr.io/osac-project/fulfillment-service
    newTag: v0.0.30
  - name: ghcr.io/osac-project/fulfillment-controller
    newTag: v0.0.30
